/* Hero Section Container */
.heroSection {
    padding: 5rem 0;
    width: 100vw;
}

/* Background decorative elements */
.backgroundDecor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
}

.polygonLines {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20%;
    height: auto;
    opacity: 1;
    max-width: 30%;
}

.leftSide {
    left: 0;
    transform: translateY(-50%) scaleX(-1);
}

.rightSide {
    right: 0;
    transform: translateY(-50%);

}

/* Hero Content */
.heroContent {
    position: relative;
    z-index: 2;
}

/* Typography */
.heroTitle {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.1;
    color: #1a202c;
}

.highlight {
    color: #00AB80;
}

.underline {
    width: 120px;
    height: 4px;
    background: #00AB80;
    margin: 1.5rem 0;
    border-radius: 2px;
}

.heroSubtitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: #231F20;
    line-height: 1.3;
}

.heroDescription {
    font-size: 1rem;
    color: #231F20;
    line-height: 1.6;
    margin-bottom: 0;
    font-weight: 400;
}

/* Hero Actions */
.heroActions {
    gap: 1.5rem !important;
}

.secondaryBtn {
    color: #00AB80 !important;
    background: transparent !important;
    border: none !important;
    font-weight: 500 !important;
    padding: 1rem !important;
}

.secondaryBtn:hover {
    color: #00AB80 !important;
    background: transparent !important;
    transform: translateX(5px) !important;
}

.arrowIcon {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.5);
}

.secondaryBtn:hover .arrowIcon {
    transform: translateX(2.5);
}


@media (max-width: 786px) {
    .backgroundDecor {
        position: relative;
    }

    .polygonLines {
        width: 100%;
        padding-bottom: 4rem;
    }

    .heroContent {
        padding-top: 4rem;
    }

    .leftSide {
        left: -1rem;
    }

    .rightSide {
        right: 0;
    }
}